h1 {
    text-align: center;
}

.button {
    border-style: groove;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

form {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-style: groove;
}

label {
    display: block;
    text-align: center;
}

input/*[type=text], select, textarea*/ {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-style: groove;
}
